.feature-image {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
}

.feature-text  {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color)
}


.feature-item {
    width: 270px;
}


.feature-list {
    display: flex;
    gap: 30px;
}
