.feature-image {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }

}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
}

.feature-text  {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color)
}


.feature-item {
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }

}


.feature-list {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }

}
