
.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    background: var(--accent-color); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-left: 24px;
    padding-right: 24px;
    width: 200px;
}

.action-button .button-icon {
    fill: white;
    color: white;
    margin-left: 10px;
}

.hero-button:hover, .hero-button:focus {
    background-color: #188CE8;
}

.button-port:hover, .button-port:focus {
        background-color: #2196F3;
        box-shadow: 0px 3px 1px rgba(0 0 0 / 10%),
        0px 1px 2px rgba(0 0 0 / 8%), 0px 2px 2px rgba(0 0 0 / 12%);
        color: #FFFF;
}

.button-port {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--title-color);
    background: #F5F4FA;
    border-radius: 4px;
    border: 0px;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), bbox-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


