.aboutlist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;

    &-element { 
        &__image {
            width: 370px;
        }

        &__label {
            background: rgba(47, 48, 58, 0.8);
            width: 370px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 70px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;    
        }
    }
}
