
.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-dark {
    color: var(--title-color);
}
.logo-light { 
    color: #ffffff;
} 
